################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cpp20/FileContentIndex
/.vs/Cpp20/v17
/C++23/.vs/C++23/v17
/C++23/.vs/C++23/FileContentIndex
/C++23/x64
/C++23/.vs
/.vs
.vscode
